/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); 
/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}
h2 {
  color: #AF0B0B !important;
 
}
.Languagelevel .language-progress {
	background-color: #FFFFFF !important;
}

.language-level {
	background-color: #F79E9E !important;
}

.language-progress {
	background-color: #AF0B0B !important;
}
.language-level h6 {
  color: #FFFFFF /* Change this HEX to your desired color */
}
.language-level .native-text {
  color: #FFFFFF 
} 

.language-level .advanced-text {
  color: #FFFFFF
} 
.Linde-Verhees {
	font-family: 'anton'; 
} 
.fst-italic.tagline {
	font-family: 'open sans';
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */
.resume-header {
    background-color: #AF0B0B;	
	color: #FFFFFF;
	font-family: 'Anton'; 
} 
.resume-main {
	background-color: #FFFFFF;
}

.resume-aside {
	background-color: #FFFFFF;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	color: #AF0B0B

}

.biography-details li:before {
	color: #AF0B0B;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
} 

.title-one {
    font-weight: bold;
}


